################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiAndWebJob/bin/Debug/netcoreapp3.1
/WebApiAndWebJob/obj
/WebJobChecker/bin/Debug/net472
/WebJobChecker/obj
/WebJobs.Core/bin/Debug
/WebJobs.Core/obj/Debug
/.vs/CovidStatus/v16
/CovidStatus.Presentation/bin/Debug/netcoreapp3.1
/CovidStatus.Presentation/obj
/CovidStatus.Presentation/Properties
/CovidStatus.WebJob/bin/Debug/net472
/CovidStatus.WebJob/obj
/CovidStatus.WebJob.Core/bin/Debug
/CovidStatus.WebJob.Core/obj/Debug
